
<h1>Danial Takdehghan / 8742203</h1>
<nav>
    <ul>
        <li>
            <a href="/allorders">View Orders</a>
        </li>
        <li>
           <a href="/">Shop</Main></a>
       </li>
    </ul>
</nav>

<link rel="stylesheet" href="/style.css">